<div class="container">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to 'Quote Invoicing', root_path, class: 'navbar-brand' %>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">


      <li>
        <%= link_to "Quotes", quotes_path  %>
      </li>
      <% if current_user_is_admin? %>
          <li><%= link_to "Customers", customers_path  %></li>
          <li><%= link_to "Inventory", items_path  %></li>
          <li><%= link_to "Invoices", invoices_path  %></li>
    <% end %>

      <li>
        <%= link_to "Profile", edit_registration_path(current_user)  %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, :method => :delete do %>
            Logout
        <% end %>
        </li>
    </ul>
  </div>
</div>